<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Item</ion-title>
    <ion-buttons end>
      <button ion-button="" block clear (click)="addItem(item)">Add</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input [(ngModel)]="item.name" placeholder="iPad Pro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Quantity:</ion-label>
    <ion-input [(ngModel)]="item.quantity" type="number" placeholder="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Price:</ion-label>
    <ion-input [(ngModel)]="item.price" type="number" placeholder="700"></ion-input>
  </ion-item>
</ion-content>
