<!--
  Generated template for the EditShoppingItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{item?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button="" block clear (click)="saveItem()">Save</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Name:</ion-label>
    <ion-input [(ngModel)]="item.name" placeholder="iPad Pro"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Quantity:</ion-label>
    <ion-input [(ngModel)]="item.quantity" type="number" placeholder="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Price:</ion-label>
    <ion-input [(ngModel)]="item.price" type="number" placeholder="700"></ion-input>
  </ion-item>


  <button ion-button color="danger" block clear (click)="deleteItem()">Delete</button>
</ion-content>
